<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
    </script>
    <script>
        function sendPost() {
            var form = document.getElementById("form_info");
            axios({
                method: "post",
                url: "/practice2form",
                data: {id:form.id.value , pw:form.pw.value}
            }).then(function(res){
                document.querySelector("p").innerHTML= res.data;
            });
        }
    </script>
</head>
<body> 
    <form id="form_info">
        <fieldset>
            <legend>ID</legend>
            ID <input type="text" name="id" required placeholder="id">
        </fieldset>
        <fieldset>
            <legend>password</legend>
            pw <input type="password" name="pw" required placeholder="pw">
        </fieldset>
        <br>
    <button type="button" onclick="sendPost();">login</button>
    <p></p>
</body>
</html>