<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    span {
      color: blue;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>get 요청 확인</h1>
  <div>id는 <span><%=data.id%></span></div>
  <div>password는 <span><%=data.pw%></span></div>

</body>
</html>