<html>
    <head>
        <title>로그인</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <form id="form_login">
            <input type="text" name="id">
            <input type="password" name="pw">
            <button type="button" onclick="login()">로그인</button>
        </form>
        <script>
            function login(){
                var form = document.getElementById("form_login");
                console.log(form.id.value);
                axios({
                    method: "post",
                    url: "/login",
                    data: {
                        id:form.id.value,
                        pw:form.pw.value
                    }
                    }).then((res) => {
                        if(res.data){
                            alert("성공");
                            window.location.href = "/";
                        } else{
                            alert("실패");
                            form.reset();
                        } 
                        console.log(res.data);
                    })
                }
        </script>
    </body>
</html>