<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
       section {
        display: flex;
        justify-content: center;
       }

       div {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 5px;
       }

       .d-none {
        display:none;
       }
    </style>
</head>
<body>
    <section>
        <form id="form_register">
            <div>Welcome</div>
            <div>id</div>
                <input type="text" name="id">
            </div>
            <div>password</div>
                <input type="password" name="pw">
             <div class="login-btn">
                <button type="button" onclick="login();">Login</button>
            </div>
            <div class="register-btn">
                <button type="button" onclick="register();">Register</button>
            </div>
        </form>
    </section>
 

    <script>
        function signup() {
            let form = document.getElementById("form_register");
            let data = {
                id : form.id.value,
                pw : form.pw.value
            }
            axios({
                method: 'post',
                url : '/user/signup' , 
                data : data 
            })
            .then((response) => {
                form.id.value = "";
                form.name.value = ""; 
                form.comment.value = ""; 
            })
        }

        function signin() {
            let form = document.getElementById("form_login");
            axios({
                method: 'post',
                url: '/user/', 
                data: {
                    id : form.id.value,
                    pw : form.pw.value
                }
            }).then((response) => {
                let result = response.data;
                document.getElementById("result").innerHTML = result;
            });
        } 

        function signin() {
            let form= document.getElementByID("form_login");
            axios({
             
            })
        }

    </script>
</body>
</html>