<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>메인페이지</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap'>
    <link rel="stylesheet" href="/static/css/user.css">
</head>
    <body>
        <div class="scene flex">
            <section class="card">
                <h1 class="card__heading">
                    <span>붕어빵</span>
                </h1>
                <div id="mt-3" class="img_btns">
                    <button class="">카카오로 로그인</button>
                    </a>
                    <br>
    
                    <a class="" href="/user/signin">
                        <button class="" window.open="/user/signin">로그인</button>
                    </a>
                    <br>
    
                    <a class="" href="/user/signup">
                        <button class="" window.open="/user/signup">회원가입</button>
                    </a>
                    <br>  
                </div>
            </section>
        </div>
    
    </body>
</html>
